
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css"></link>
		<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
		<link href="css/bootstrap/bootstrap-theme.min.css" rel="stylesheet"></link>
		<link href="css/bootstrap/bootstrap-select.min.css" rel="stylesheet"></link>
		<link href="css/Site.css" rel="stylesheet"></link>
		<link href="chosen/chosen.css" rel="stylesheet"></link>
		<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css"></link>
		<link rel="stylesheet" type="text/css" href="css/jquery.dataTables_themeroller.css"></link>
 		<link href="css/themes/base/jquery.ui.all.css" rel="stylesheet"></link>

		<script src="js/modernizr-2.6.2.js" type="text/javascript"></script>
		<script src="js/jquery-2.0.0.js" type="text/javascript"></script>
		<script src="js/querystring-0.9.0-min.js" type="text/javascript"></script>
		<script src="js/jquery-ui-1.10.2.js" type="text/javascript"></script>
		<script src="js/bootstrap.js" type="text/javascript"></script>
		<script src="js/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="js/knockout-2.3.0.debug.js" type="text/javascript"></script>
		<script src="js/knockout.mapping-latest.js" type="text/javascript"></script>
		<script src="chosen/chosen.jquery.js" type="text/javascript"></script>
		<script src="js/jquery.dataTables.js" type="text/javascript"></script>
		<script src="js/mailchimp-integration.js" type="text/javascript"></script>
		<script src="js/datatables-dd-MMM-yyyy.js" type="text/javascript"></script>
		<script>
          $(function() {
        	    $( "#datepicker" ).datepicker({
        	    	dateFormat: "yy-mm-dd"
        	    });
           });
       </script>
	</head>
 </html>

