<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		<div class="row">
			<div class="tab-first-column">
    			
    				<p>The MailChimp connector for Mozu seamlessly integrates your Mozu account with your MailChimp account. 
    				This application enables you to use MailChimp as your primary campaign management through email.  
    				With this connector, you will be able to:</p>
    				<p>
    				<ul style="font-size:14px">
							<li>Synchronize all of your CustomerAccount in Mozu as contact in MailChimp</li>
					</ul>
					</p>
					<p>To manage your MailChimp configurations/settings, please visit <a href="https://login.mailchimp.com/"
							target="_blank">MailChimp</a> site.</p>

						
    			 
    		</div>
    		<div class="tab-second-column">
    		
    			<div class="well-info text-center" >
    				<div style="font-size: 15px; font-weight: bold; color: #333333; line-height:17px;" class="mozulogo">MailChimp Integration by</div>
    				<div style="font-size: 12px; color: #333333; line-height:15px;">Version <label id="version"> </label></div>			
    			
    				<div style="font-size: 12px; color: #333333; line-height:15px;">Mozu API 1.11.0</div>
						
    			 </div>
    		
    		</div>
    		</div>
        </div>
	</body>
</html>
